.toggle {
  font-size: 13px;
  line-height: 18px;
  display: inline-flex;
  align-items: center;
}

.toggle:hover {
  cursor: pointer;
}

.toggle__input {
  appearance: none;
}
.toggle__switcher {
  box-sizing: border-box;
  padding: 2px;
  display: inline-flex;
  align-items: center;
  width: 36px;
  height: 20px;
  background-color: #ebebeb;
  border-radius: 20px;
  margin-right: 14px;
  justify-content: flex-start;
  transition: background-color ease 0.2s;
}

.toggle__input:focus-visible + .toggle__switcher {
  outline: rgb(43, 224, 128, 0.5) 1px auto;
}

.toggle__switcher-circle {
  width: 16px;
  height: 16px;
  border-radius: 50px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
}

.toggle__switcher-circle {
  transition: transform ease 0.2s;
}

/*Checked*/

.toggle__input:checked + .toggle__switcher {
  background-color: #2be080;
}

.toggle__input:checked + .toggle__switcher .toggle__switcher-circle {
  transform: translateX(16px);
}

/*Disabled*/

.toggle__input:disabled + .toggle__switcher {
  background-color: #ebebeb;
}

.toggle__input:checked + .toggle__switcher .toggle__switcher-circle {
  background-color: #f5f5f5;
}

@media screen and (max-width: 440px) {
  .toggle {
    font-size: 11px;
    line-height: 18px;
  }
}
